.navbar{
    height: 100px;
    background-color:antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 .m1{
    display: flex;
  list-style-type: none;
  
}
.m2{
    margin: 30px;
text-decoration: none;
} 


.btnl{
    background-color: blue;
    color: aliceblue;
    height: 40px;
    border-radius: 40px;

}
.a1{
    height: 70px;
}
.cls1{
    height: 100vh;
    width: 100%;
}
.home{
    height: 100vh;
    width: 100%;
}
.img{
    background-image: url('C:\Users\YSK-IT-1008\Downloads\background-e.webp');
    height: 100vh;
    width: 1100%;
}
.head{
    margin-left: 300px;
    padding-top: 200px;
    font-size: 70px;
    color: aliceblue;
}
.head2{
    margin-left: 500px;
    color: aliceblue;
}
.rental{
    height: 100vh;
    width: 100%;
}
.img2{
    background-image: url('C:\Users\YSK-IT-1008\Downloads\wprentals.webp');
    height: 100vh;
    width: 100%;
}
.wp{
    padding-left: 100px;
    padding-top: 100px;
    color: aliceblue;
    font-size: 40px;
}
.img5{
    padding-left: 100px;
    color: aliceblue;
}
.cards{
    height: 100vh;
    width: 100%;
}
.fea{
    height: 100vh;
    width: 100%;
}
.img3{
    background-image: url('C:\Users\YSK-IT-1008\Downloads\blog_header2.jpeg');
    height: 100vh;
    width: 100%;
}
.header{
    margin-left: 400px;
    padding-top: 200px;
    color: aliceblue;
    font-size: 60px;
}
.para{
    margin-left: 400px;
    color: aliceblue;
}
.cardsl{
width: 100%;
height: 100vh;
}

.img11{
width: 100%;

    flex-wrap: wrap;
}
.mg{
    margin-top: 30px;
}
.page3{
    padding-top: 20px;
}
.headdiv{
    display: flex;
    flex-direction: row;
}
.infor{
    text-align: center;
}
.buttoncls{
    display: flex;
    margin-right: 40px;
    flex-wrap: wrap;
}
.btn11{
    padding-left: 100px;
}
.swathi{
    flex-wrap: wrap;
    
    
    list-style-type: none;
    height: 100vh;
    width: 100%;
    padding-top: 100px;

    

}
.lio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
.img100{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    flex-wrap: wrap; 
    margin-left: 30px;
}
.img200{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: auto;
}
.img300{
    background-image: url('C:\Users\YSK-IT-1008\Downloads\beachback.webp');
    height: 50vh;
    width: 100%;
    text-align: center;
    justify-content: bottom;
}
.div1{
    position: top;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    
}
.btn5{
    
    justify-content: space-between;
    padding-top: 50px;
    list-style-type: none;
    /* margin-left: 20px; */
}
.btn200{
    margin-left: 100px;
    width: 10%;
    height: 5vh;
}
.btn100{
    margin-left: 100px;
    width: 10%;
    height: 5vh;
}
.btn300{
    margin-left: 100px;
    width: 10%;
    height: 5vh;
}
.btn400{
    margin-left: 100px;
    width: 10%;
    height: 5vh;
}
.ull{
    display: flex;
    list-style-type: none;
    margin-right: 100px;
    text-align: center;
}
.limp{
    margin-left: 300px;
    padding-top: 50px;
}
.limp1{
    margin-left: 200px;
    padding-top: 50px;
}
.limp2{
    margin-left: 200px;
    padding-top: 50px;
}
.form1{
    height: 100vh;
    width: 100%;
}
.pak5{
    padding-top: 30px;
}









